@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.input-label {
  color: #282538;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.input-box-wrapper input {
  height: 58px;
  width: 400px;
  outline: none;
  background: #eef3f6;
  border-radius: 5px;
  color: #282538;
  font-size: 18px;
  transition: 0.3s ease;
  border: 2px solid #eef3f6;
  padding: 7px 12px;
}

.input-box-wrapper input:focus {
  border: 2px solid #5e97da;
}
