@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.app-card-wrapper {
  height: 200px;
  width: 300px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  padding: 20px;
  flex-direction: column;
  transition: 0.3s ease;
  justify-content: space-between;
  border: 1px solid #eaeaea;
}

.app-card-wrapper:hover {
  transform: translateY(-8px);
  border: 1px solid #fafaff;
  box-shadow: rgb(31 35 65 / 37%) 0px 20px 30px -11px;
}

.app-card-header {
  color: #b9bdcf;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 27px;
  transition: 0.4s ease;
}

.app-card-wrapper:hover .app-card-header {
  color: #282538;
}

.app-card-arrow-wrapper {
  display: flex;
  justify-content: flex-end;
}

.app-card-arrow-wrapper svg {
  height: 25px;
  width: 25px;
  color: #b9bdcf;
  transition: 0.4s ease;
}

.app-card-wrapper:hover svg {
  color: #282538;
}
