.is-triangle-left-section {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  padding: 70px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.is-triangle-left-section-main {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
}

.is-triangle-left-section-main .header-main {
  width: 600px;
  font-size: 60px;
}

.is-triangle-left-section-main .header-sub {
  width: 400px;
  font-size: 14px;
}

.is-triangle-right-section {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.is-triangle-input-wrapper {
  height: 60%;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.is-triangle-input-container {
  display: flex;
  justify-content: center;
}

.is-triangle-input-container .input-label {
  font-size: 16px;
}

.is-triangle-input-container input {
  width: 200px;
  margin-right: 30px;
}

.is-triangle-btn-wrapper {
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 20px;
  height: 200px;
}

.is-triangle-validity-alert-wrapper {
  width: 640px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 100px;
  height: 40%;
}
