.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 70px;
}

.header-main {
  font-size: 70px;
  font-weight: bold;
  color: #282538;
  margin-bottom: 20px;
}

.header-sub {
  font-size: 26px;
  font-weight: 700;
  color: #b9bdcf;
  margin-left: 7px;
}
